.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  background-image: url("https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg");
  padding: 50px;
}
.btnContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.btn-HW {
  font-family: Microsoft YaHei;
  width: 150px;
}
