<div class="container">
  <h2 style="font-family: Microsoft YaHei; display: flex; justify-content: center; color: white;">美国硅谷一线工程师在线直播授课，为你打开IT名企的大门</h2>
  <p style="font-family: Microsoft YaHei; display: flex; justify-content: center; font-size: 110%; color: white;">九章算法已经帮助30000+人成功拿到心仪的Offer</p>
  <div class="btnContainer">
    <button class="btn btn-outline-light btn-HW">VIP集训营</button>
    <button class="btn btn-outline-light btn-HW">课程</button>
    <button class="btn btn-outline-light btn-HW">微课堂</button>
  </div>
</div>
